.item{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: nowrap;
    min-height: 500px;
}

.image-section{
    height: 500px;
    width: 500px;
    margin: 10px;
    border: 3px solid rgb(234, 234, 234);
}

.image-section-image{
    max-width:100%;
    max-height:100%;
}

.item-info-section{
    border-left: 1px solid gray;
    min-height: 500px;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 0;
}
.item-combination-detail{
    margin: 10px;
    border-top: 1px solid gray;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.item-combination-detail-header{
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.item-combination-detail th{
    text-align: left;
    padding: 10px;
    padding-left: 0px;
}
.item-combination-detail td{
    text-align: left;
    padding: 10px;
}

.basic-info-table {
    padding: 10px;
}
.basic-info-table th{
    font-weight: bold;
    padding: 10px;
    text-align: left;
}
.basic-info-table td{
    padding: 10px;
}

.basic-info-table td{
    text-align: left;
}

.option-section{
    border-bottom: 1px solid rgb(187, 187, 187);
    min-width: 200px;
    height: 90px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}


.option-combination-section{
    border-left: 1px solid gray;
    min-height: 500px;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
}

.option-header{
    /* background-color: bisque; */
    height: 20px;
    text-align: left;
}

.options{
    /* background-color: gray; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.option{
    border-radius: 3px;
    margin: 10px;
    border: 1px solid rgb(167, 167, 167);
    /* background-color: black; */
    width: 100px;
    justify-content: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.option:hover{
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(6, 33, 82, 0.355);
}

.option-selected{
    border: 1px solid rgb(255, 145, 0);
    background-color: rgb(255, 242, 226);
    color: rgb(218, 102, 0);
}

.review-section{
    border-top: 1px solid gray;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.review{
    margin: 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.review-section-header{
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.review-user{
    display: flex;
    flex-direction: row;
}

.review-user-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-weight: bold;
    color: rgb(127, 139, 163);
}

.review-comment{
    padding-top: 5px;
    padding-bottom: 5px;
}

.description-section{
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
}

.description-paragraph{
    margin: 10px;
    text-align: left;
}

.description-section-header{
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.user-star-rating{
    padding-left: 5px;
}